body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: #e8f5e9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #2e7d32;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: 'Great Vibes', cursive;
}

p {
    color: #4caf50;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.map-container {
    width: 100%;
    height: 500px;
    margin: 20px 0;
    border: 2px solid #a5d6a7;
    border-radius: 10px;
    overflow: hidden;
}

.Infotext {
    text-align: justify; /* Text im Infotext linksbündig ausrichten */
    width: 80%; /* Breite des Infotextes auf 80% des Bildschirms */
    margin: 0 auto; /* Zentrieren des Infotextes horizontal */
    font-family: 'Playfair Display', serif;
    font-size: 1.2em; /* Textgröße anpassen */
    line-height: 1.6; /* Zeilenhöhe erhöhen für bessere Lesbarkeit */
}

@media (max-width: 768px) {
    /* Media Query für kleinere Bildschirme (z.B. Tablets und Handys) */
    .Infotext {
        width: 90%; /* Breite des Infotextes auf 90% des Bildschirms reduzieren */
        font-size: 1em; /* Kleinere Schriftgröße für Mobilgeräte */
        line-height: 1.4; /* Zeilenhöhe für Mobilgeräte anpassen */
    }
}

